body {
    /* border: 2px solid red; */
    padding: 5rem 1.25rem;
    /* word-wrap: break-word; */
    background-color: hsl(0, 0%, 95%);
}
body p {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    line-height: 28px;
    /* asked for fixed font size, not rem */
}

body h1 {
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    font-size: 2.5rem;
}
.triple-container {
    margin: 0;
    padding: 0;
    /* border: 3px solid green; */
    display: flex;
    flex-direction: column;
}
div {
    /* border: 2px solid blue; */
    padding: 2.8rem;
}

.sedan-container {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.suv-container {
    background-color: hsl(184, 100%, 22%);
}
.luxury-container {
    background-color: hsl(179, 100%, 13%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
img{
    max-width: 100%;
}
button {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    font-size: 17px;
    /* padding: 15px 35px; */
    padding: 15px 15%;
    margin-top: 20px;
    background-color: white;
    border: none;
    border-radius: 30px;
    max-width: 100%;
}
.sedan-button {
    color: hsl(31, 77%, 52%);
}
.suv-button {
    color: hsl(184, 100%, 22%);
}
.luxury-button {
    color: hsl(179, 100%, 13%);
}

.hover-effect:hover {
    background-color:rgba(0,0,0,0);
    color:white;
    border: 2px solid white;
}

@media (min-width:768px) {
    body {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .triple-container {
        display: flex; 
        flex-direction: row;
        width: 65vw;
    }
    .sedan-container, .suv-container, .luxury-container {
        max-width: 33%;
        box-sizing: border-box;
        /* flex: 1; */
    }
    .sedan-container {
        border-radius: 10px 0 0 10px;
    }
    .luxury-container {
        border-radius: 0 10px 10px 0;
    }
    button {
        margin-top: 70px;
    }
}

